<div class="container fadeIn05">

<div class="btn-group btn-group-justified" id="navDiv" role="group" aria-label="...">
  <div class="btn-group" role="group">
    
    <div id="miniLoader" ng-hide="!loading"></div>
    <a id="appLangauge" ui-sref="home" langaugeIcon> 
    <img src="images/{{language}}.png" />
    </a>


  </div>
  <div class="btn-group" role="group" ng-show="displayTabs.sort === true">
      <button ng-click="viewSorter()" type="button" class="btn btn-default navbar-btn">Sort</button>
  </div>
  <div class="btn-group" role="group" ng-show="displayTabs.list === true">
    <button ng-click="viewList()" type="button" class="btn btn-default navbar-btn">List</button>
  </div>

    <div class="btn-group" role="group" ng-show="displayTabs.words === true">
    <button ng-click="lastViewed()" type="button" class="btn btn-default navbar-btn">Words</button>
    </div>

</div>

<form  ng-hide="sorter" class="fadeIn05">

    <h4>Levels</h4>

    <div class="form-group">
        <div ng-hide="ko">
        <span class="switchLabels">Level 5</span>
        <switch ng-model="JlptLevels.L5" class="wide"></switch>
        </div>

        <div class="comingSoon" ng-hide="!ko">
        <span class="comingSoonSpan"> coming soon ...</span>
        <span> Level 5</span>
        </div>


        </br>
        <div ng-hide="ko">
        <span class="switchLabels">Level 4</span>
        <switch ng-model="JlptLevels.L4" class="wide"></switch>
        </div>

        <div class="comingSoon" ng-hide="!ko">
        <span class="comingSoonSpan"> coming soon ...</span>
        <span> Level 4</span>
        </div>

        </br>
        
        <div>
        <span class="switchLabels">Level 3</span>
        <switch ng-model="JlptLevels.L3" class="wide"></switch>
        </div>
        </br>
        
        <div>
        <span class="switchLabels">Level 2</span>
        <switch ng-model="JlptLevels.L2" class="wide"></switch>
        </div>

    </div>

    <div id="inverseSection">
    <h4>Inverse</h4>
    
     <span class="inverseSpan" ng-show="inverser === true"> Japanese - {{langaugeFull}} </span>
    
    <span class="inverseSpan" ng-show="inverser === false">{{langaugeFull}} - Japanese </span>
    
    <switch name="inverser" ng-model="inverser" class="wide"></switch>
    
    </div>
    
    <h4 id="wordsPerPage">Words per page</h4>
    <div>
    <div>
    <rzslider
         rz-slider-model="slider.value"
         rz-slider-options="slider.options"></rzslider>
    </div>

     <button ng-click="spinMiniLoader(); limitWords()" id="submitButton" type="button" class="btn btn-info">Submit</button>

</form>

</div>

<div class="row" ng-hide="wordListing" ng-animate="'fade'">
        <div ui-view="wordlist"></div>
</div>

<div class="row" ng-hide="wordViews" ng-animate="'fade'">
        <div ui-view="wordWiews"></div>
</div>